DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/teamtender?schema=public"
JWT_SECRET="supersecret_jwt_key_for_development_only"
JWT_REFRESH_SECRET="supersecret_refresh_key_for_development_only"
PORT=3000
NODE_ENV="development"